.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
  margin-top: 50px;
}

.App-header {
  background-color: hsl(99, 36%, 29%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 200;
  color: white;
  height: 200px;
}

p.header {
  font-size: 30px;
}

h1 {
  font-size: 25px;
  color: #4f5052;
  margin-top: 60px;
}

table {
  width: 50%;
  margin-bottom: 50px;
  align-items: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

th {
  height: 55px;
  padding: 10px;
  font-size: 20px;
}

td {
  height: 40px;
  padding: 10px;
  font-size: 18px;
}

.oitenta-table-head {
  background-color: #0c6880;
  font-size: 18px;
  color: white;
  text-align: center;
}

.oitenta-table-body {
  background-color: #7b7c7e;
  font-size: 18px;
  color: white;
  text-align: center;
}

.noventa-table-head {
  background-color: #0c6880;
  font-size: 18px;
  color: white;
  text-align: center;
}

.noventa-table-body {
  background-color: #7b7c7e;
  font-size: 18px;
  color: white;
  text-align: center;
}

.App-footer {
  background-color: #2d6115;
  font-size: 12px;
  color: rgb(30, 34, 29);
  padding: 5px 0px 30px 0px;
  width: 100%;
  /* Height of the footer*/
  height: 10px;
  margin-top: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
